@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

@media screen and (max-width: 481px) {
  .desktop {
    display: none;
  }
  .navbar {
    display: none;
  }
  .tabBar {
    display: none;
  }
  .tabs {
    display: none;
  }
  .mobile {
    opacity: 1;
    width: 100%;
    flex-direction: row;
  }
}

@media screen and (max-width: 1100px) {
  .navbar h1 {
    opacity: 0;
  }
}

.mobile {
  display: none;
}
.ib-image {
  height: 4%;
  width: 4%;
  margin-top: 2rem;
}
.header {
  height: 2.1rem;
  width: 100%;
  background-color: #0673bb;
  top: 0;
  position: fixed;
  z-index: 2;
}

.navbar {
  display: flex;
  align-items: center;
  max-width: 100%;
  margin-top: 0;
  top: 0;
  position: fixed;
  background: white;
  z-index: 1;
  box-shadow: rgb(201, 198, 198) 2px 2px 2px;
}

.navbar h1 {
  padding-right: 1%;
  padding-left: 1%;
  margin-top: 2rem;
  width: 100%;
}

.tabBar {
  position: absolute;
  top: 2.1rem;
  right: 0rem;
  display: flex;
  height: max-content;
  margin-top: 0;
  height: 59.2%;
}

.tabs {
  margin-top: 0;
  border: none;
  display: flex;
  width: max-content;
  align-items: top;
  text-align: center;
}
.tabs a {
  background-color: white;
  color: black;
  padding: 0.86rem;
  font-size: 0.86rem;
  font-weight: 400;
  text-decoration: none;
  align-content: center;
}

.tabs a:hover {
  background-color: #0673bb;
  color: white;
  transition: all 0.3s ease-in-out;
}

.tabs .currentTab {
  align-items: flex-end;
  justify-content: flex-end;
  text-align: end;
  align-content: bottom;
}
.tabs .currentTab a {
  padding: 0.86rem;
  font-size: 0.86rem;
  background-color: #0673bb;
  height: 45%;
  color: white;
  position: relative;
  display: flex;
  font-weight: 400;
}

.content {
  margin: 0;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.content h1 {
  position: relative;
  text-align: center;
}
@keyframes intro-animation {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
  }
}

.intro {
  transition: all 0.3s ease-in-out;
  text-align: center;
  align-items: center;
  animation-name: intro-animation;
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out;
  margin-top: 10%;
}
.intro h1 {
  color: #0673bb;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 270%;
}
.video {
  padding-top: 3%;
  padding-bottom: 3%;
  width: 60%;
  height: 20%;
}

.about-and-contributors-panel {
  color: #333;
}
.about {
  margin-top: 2%;
  margin-bottom: 5%;
  position: relative;
  width: 50%;
  height: 20rem;
  background-color: #d3edff;
  float: left;
  overflow-y: hidden;
}
.about:hover {
  transform: translateX(20);
  transform: translateY(10);
  transition: all 0.6s ease-in-out;
}
.contributors {
  margin-top: 2%;
  margin-bottom: 5%;
  position: relative;
  width: 50%;
  height: 20rem;
  background-color: #0673bb;
  float: right;
  overflow-y: hidden;
}

.contributors:hover {
  transform: translateX(-20);
  transform: translateY(10);
  transition: all 0.6s ease-in-out;
}

.about-heading {
  opacity: 1;
  transition: all 0.6s ease-in-out;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 270%;
  color: #0673bb;
  padding-bottom: 4%;
  animation-name: intro-animation;
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out;
}

.about-table {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3%;
  padding-bottom: 1%;
  width: 100%;
  height: 100%;
}

.about-table-column {
  width: 100%;
  font-size: 100%;
  column-span: 1;
}
.about-table-column li:hover {
  font-size: 110%;
}

.contributors-heading {
  opacity: 1;
  transition: all 0.3s ease-in-out;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 270%;
  color: #d3edff;
  padding-bottom: 4%;
  animation-name: intro-animation;
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out;
  column-span: 2;
}
.logo-panel {
  width: 100%;
  height: 60%;
  padding-bottom: 1%;
  animation-name: fadeIn;
  animation-duration: 2.2s;
}
.about-logo-column {
  width: 33%;
  float: left;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 130%;
  font-weight: 600;
  padding-bottom: 5%;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.large-image {
  width: 8rem;
  height: 8rem;
  padding: 0.4rem;
  flex-basis: 10%;
  animation-name: zoomIn;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: 1;
  vertical-align: middle;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 6%;
  margin-bottom: 1rem;
}
.large-image-2 {
  width: 8rem;
  height: 8rem;
  padding: 0.4rem;
  flex-basis: 10%;
  animation-name: zoomIn;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-delay: 2.5s;
  vertical-align: middle;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 6%;
  margin-bottom: 1rem;
}
.large-image-3 {
  width: 8rem;
  height: 8rem;
  padding: 0.4rem;
  flex-basis: 10%;
  animation-name: zoomIn;
  animation-duration: 0.8s;
  animation-delay: 3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  vertical-align: middle;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 6%;
  margin-bottom: 1rem;
}
.info-box-2 {
  animation-name: fadeIn;
  animation-duration: 2.02s;
  animation-delay: 0.74s;
}
.info-box-3 {
  animation-name: fadeIn;
  animation-duration: 2.2s;
  animation-delay: 1.2s;
}

@keyframes zoomIn {
  0% {
    margin-top: 0rem;
    width: 7rem;
    height: 7rem;
  }
  100% {
    margin-top: 0rem;
    width: 8rem;
    height: 8rem;
  }
}
.large-image:hover {
  margin-top: -0.5rem;
  height: 9rem;
  width: 9rem;
  margin-bottom: 0.2rem;
  transition: all 0.2s ease-in-out;
}
.large-image-2:hover {
  margin-top: -0.5rem;
  height: 9rem;
  width: 9rem;
  margin-bottom: 0.2rem;
  transition: all 0.2s ease-in-out;
}
.large-image-3:hover {
  margin-top: -0.5rem;
  height: 9rem;
  width: 9rem;
  margin-bottom: 0.2rem;
  transition: all 0.2s ease-in-out;
}
.resources {
  width: 7rem;
  height: 7rem;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.large-image:hover {
  margin-top: -0.5rem;
  height: 9rem;
  width: 9rem;
  transition: all 0.2s ease-in-out;
}
.contact {
  float: none;
  position: relative;
  width: 100%;
  padding-top: 6%;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
}

.contact-heading h2 {
  animation-name: intro-animation;
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out;
  padding-right: 10px;
  transition: all 0.5s ease-in-out;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #0673bb;
  font-size: 240%;
}

.contact-text {
  padding-right: 10px;
  transition: all 2s ease-in-out;
  transform: translateX(10px);
  text-align: center;
  padding: 10px;
}

.gform {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: max-content;
}

.input-box {
  height: max-content;
  padding: 10px 8px;
  margin-top: 10px;
  width: 50%;
  border-radius: 10px 10px;
  transition: all 0.1s ease-in-out;
}
.input-box:hover {
  box-shadow: rgb(122, 122, 122) 6px 3px 2px;
}
.large-input-box {
  padding: 10px 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
  border-radius: 10px 10px;
  height: 50px;
  transition: all 0.1s ease-in-out;
}
.large-input-box:hover {
  box-shadow: rgb(122, 122, 122) 6px 3px 2px;
}
.submit-button {
  background-color: #0673bb;
  border-radius: 10px 10px;
  padding: 0.4rem;
  text-align: center;
  align-content: center;
  color: white;
  font-weight: 800;
  width: 9%;
  border-style: groove;
  height: 2.7rem;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}

.submit-button:hover {
  cursor: pointer;
  background-color: black;
  color: #ffffff;
  height: 2.75rem;
  font-size: 1.1rem;
  width: 9.9%;
}

.thankyou_message {
  font-size: 1.2rem;
  padding: 2%;
  transition: all 0.4s ease-in-out;
}
.thankyou_message h5 {
  color: red;
}

.footnote {
  background-color: #0a70b4;
  margin-top: 6%;
  color: rgb(221, 237, 255);
  width: 100%;
  flex: 1;
  flex-direction: row;
  overflow-x: hidden;
}

.footnote-first-heading {
  font-size: 160%;
  color: rgb(221, 237, 255);
  padding-top: 20px;
  transition: all 0.4s ease-in-out;
  /* border-bottom: 1px solid white;
  padding-bottom: 5px; */
}

.footnote-blank-heading {
  width: 0;
}
.footnote-heading {
  font-size: 160%;
  color: rgb(221, 237, 255);
  padding-top: 20px;
  transition: all 0.4 ease-in-out;
  /* border-bottom: 1px solid white;
  padding-bottom: 5px; */
}
.line {
  width: 30%;
  align-self: center;
  margin-top: 4%;
  transition: all 3s ease-in-out;
}
.footnote-column {
  width: 33%;
  padding-right: 2%;
  padding-left: 2%;
  flex-direction: column;
  color: white;
  transition: all 0.4s ease-in-out;
}
.footnote-half-column {
  flex-direction: column;
  color: white;
  padding-bottom: 10px;
  align-items: flex-start;
  transition: all 0.5s ease-in-out;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  content: icon;
}
.logo:hover {
  cursor: pointer;
  width: 140%;
  height: 270%;
  color: #333;
}
.current-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  content: icon;
  width: 140%;
  height: 270%;
  color: #333;
}
.image {
  width: 3rem;
  height: 3rem;
  padding: 0.4rem;
  flex-basis: 10%;
  vertical-align: middle;
  flex-direction: column;
  align-items: flex-start;
}
.link {
  color: white;
  vertical-align: middle;
  text-decoration: none;
  align-items: left;
  flex-direction: column;
  align-self: center;
  transition: all 0.8s ease-in-out;
}
.link a {
  align-items: left;
  align-items: flex-start;
}
.current-link {
  flex-direction: row;
  color: black;
  font-weight: 900;
  font-size: 120%;
  border-width: 1;
  border-color: white;
  text-decoration: none;
}
.footer {
  height: 2.1rem;
  width: 100%;
  background-color: #0160a0;
  color: white;
  text-align: center;
}
.footer h4 {
  color: white;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.feedback-form {
  color: white;
  align-content: center;
  align-items: center;
  align-self: center;
}
.feedback-form label {
  color: white;
  padding: 3%;
}
.feedback-form p {
  color: white;
  padding: 3%;
}

.col-sm-6-form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}
.col-sm-12-form-group {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.form-control {
  border-radius: 5px 5px;
  width: 100%;
  margin-top: 2%;
  background-color: #d8effd;
  color: black;
}

.form-control:hover {
  box-shadow: #497796 1px 3px 3px 2px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.feedback-form button {
  padding-left: 44%;
  padding-right: 44%;
  margin-top: 5%;
  border-radius: 4px 4px;
}
.feedback-form button:hover {
  background-color: rgb(85, 178, 255);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.link-last {
  color: white;
}

.subject-header {
  padding: 10%;
  margin-left: 0%;
}

.subject-header h1 {
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 120%;
  animation-name: intro-animation;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 20%;
  left: 0;
  box-shadow: rgb(201, 198, 198) 2px 2px 2px;
  background: white;
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.sidebar-tab {
  width: 100%;
  background-color: white;
  height: 6%;
  padding-top: 6%;
}
.current-sidebar-tab {
  width: 100%;
  background-color: rgb(209, 208, 208);
  height: 6%;
  padding-top: 6%;
}
.current-sidebar-tab a {
  text-decoration: none;
  padding: 10%;
  vertical-align: center;
}
.sidebar-tab:hover {
  background-color: rgb(209, 208, 208);
  cursor: pointer;
}
.sidebar .sidebar-tab a {
  text-decoration: none;
  padding: 10%;
  vertical-align: center;
}
.blank-for-sidebar {
  width: 10rem;
  background-color: white;
  flex-direction: column;
  float: left;
}
.subject-footnote {
  align-self: flex-end;
  left: 0rem;
  right: 0;
  background-color: #0a70b4;
  margin-top: 6%;
  color: rgb(221, 237, 255);
  width: 80%;
  flex-direction: column;
  float: right;
}

.table-box:hover {
  background-color: rgb(243, 237, 237);
  transition: all ease-in-out 0.2s;
}

.sidebar-heading {
  flex: 1;
  flex-direction: row;
  align-content: flex-end;
  align-items: flex-end;
  width: 100%;
  text-align: end;
  right: 0;
}
.cross-button {
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-end;
  color: black;
  height: fit-content;
  font-size: 150%;
  margin-right: 5%;
}
